<body>
  <div id="favoritesBody">
    <h1 id="favoritesH1">Welcome, {{userWithFavorites.username}}!</h1>
    <div class="grid-container">
      {{#each userWithFavorites.favorites}}
      <div class="breed-item">
        <a href="/dogs/{{_id}}">
          <div class="card">
            <img src="{{image.url}}" alt="{{name}} Image" class="card-img img-with-border">
            <div class="card-body">
              <h2 class="card-title">{{name}}</h2>
              <form action="/favorites/delete/{{_id}}" method="POST">
                <button type="submit" class="favorite-button">Remove from Favorites</button>
              </form>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</body>

