
<body>
  <div id="detailsBody">

<div id="details-position">

<h1 id="detailsH1">{{ breed.name }}</h1>

<div class="card">

<img class="card-img img-with-border" src="{{ breed.image.url }}" alt="{{ breed.name }}">


<p><span id="vol1"><strong>Weight:</strong></span> {{ breed.weight.metric }} Kg</p>

<p><span id="vol2"><strong>Height:</strong></span> {{ breed.height.metric }} cm</p>

<p><span id="vol3"><strong>Breed Group:</strong></span> {{ breed.breed_group }}</p>

<p><span id="vol1"><strong>Life Span:</strong>L</span> {{ breed.life_span }}</p>

<p><span id="vol2"><strong>Bred For:</strong></span> {{ breed.bred_for }}</p>

<p><span id="vol3"><strong>Temperament:</strong></span> {{ breed.temperament }}</p>

<p><span id="vol1"><strong>Origin:</strong></span> {{ breed.origin }}</p>

</div>

<button id="bckDetails" onclick="location.href='/dogs'">Back to Breeds</button>


</div>
</div>
</body>

