<body id="editBody">
  

<h1 class="form-heading">Edit Breed</h1>
<form action="/dogs/{{breed._id}}/edit" method="POST" class="edit-form">
  <div class="form-row">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{breed.name}}" required />
  </div>
  <div class="form-row">
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="{{breed.image.url}}" required />
  </div>
  <div class="form-row">
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" value="{{breed.weight.metric}}" required />
  </div>
  <div class="form-row">
    <label for="height">Height:</label>
    <input type="text" id="height" name="height" value="{{breed.height.metric}}" required />
  </div>
  <div class="form-row">
    <label for="breed_group">Breed Group:</label>
    <input type="text" id="breed_group" name="breed_group" value="{{breed.breed_group}}" required />
  </div>
  <div class="form-row">
    <label for="life_span">Life Span:</label>
    <input type="text" id="life_span" name="life_span" value="{{breed.life_span}}" required />
  </div>
  <div class="form-row">
    <label for="bred_for">Bred For:</label>
    <input type="text" id="bred_for" name="bred_for" value="{{breed.bred_for}}" required />
  </div>
  <div class="form-row">
    <label for="temperament">Temperament:</label>
    <input type="text" id="temperament" name="temperament" value="{{breed.temperament}}" required />
  </div>
  <div class="form-row">
    <label for="origin">Origin:</label>
    <input type="text" id="originEdit" name="origin" value="{{breed.origin}}" required />
  </div>
  <button id="editBtn" type="submit">Update Breed</button>
</form>
</body>