
<div id="resultsBody">
  <h1 id="resultsH1">Filtered Dog Breeds</h1>
  {{#if breeds.length}}
    <div class="grid-container2">
      {{#each breeds}}
        <div class="breed-item2">
          <div class="card">
            <img src="{{image.url}}" alt="{{name}} Image" class="card-img img-with-border">
            <h2><a id="resultsName"href="/dogs/{{_id}}">{{name}}</a></h2>
            <form action="/dogs/{{_id}}/favorite" method="POST">
              <button type="submit" id="favoritebutton">Favorite</button>
            </form>
            <a id="editResults"href="/dogs/{{_id}}/edit">Edit</a>
            <form action="/dogs/{{_id}}" method="POST" class="delete-form">
              <button type="submit" id="deletebutton">Delete</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No dog breeds match the selected criteria.</p>
  {{/if}}
</div>
